.about {
  @include flex-wrap(wrap);

  margin-top: 4%;
  padding-bottom: 15%;

  .face {
    @include align-self(flex-start);
    @include flex(0 1 100%);

    z-index: -2;

    @include media($nine-col) {
      @include flex(0 1 50%);
    }

    img {
      max-width: 100%;
      width: 100%; // Firefox, not Chrome?
    }
  }

  @mixin line($width, $top, $left) {
    background-color: $brand-primary;
    display: none;
    height: 1px; 
    left: $left;
    position: absolute;
    top: $top;
    width: $width;
    z-index: -1;

    @include media($nine-col) {
      display: block;
    }
  }

  .line-1 {
    @include line(200%, 10%, -65%);
  }

  .line-2 {
    @include line(250%, 25%, -100%);
  }

  .line-3 {
    @include line(150%, 45%, -25%);
  }

  .describing-me {
    @include flex(0 1 100%);

    margin-top: -2%;
    position: relative;
    background-color: white;

    @include media($nine-col) {
      @include flex(0 1 40%);

      margin-left: 4%;
      padding: 0 2%;
    }
  }
}