// Styles specific to future of wearables article.

.post {
  &.future-of-wearables {
    margin: 6em auto 0 auto;

    @include media($nine-col) {
      margin: auto;
    }
  }
}

.future-watch {
  background-color: $brand-primary;
  border-radius: 20px;
  float: left;
  height: 200px;
  margin: 0 5%;
  position: absolute;
  top: 195px;
  width: 200px;
  z-index: 0;

  @include media($nine-col) {
    margin: 0 15%;
    top: 156px;
  }
}

.strap-1 {
  background-color: $brand-primary;
  content: '';
  display: block;
  height: 125px;
  left: 26%;
  margin-top: -43%;
  position: relative;
  width: 100px;
}

.adjustment-hole {
  background-color: white;
  border-radius: 4px;
  height: 5px;
  margin: 10% auto;
  position: relative;
  top: 15%;
  width: 20px;
}

.strap-2 {
  background-color: $brand-primary;
  content: '';
  display: block;
  height: 165px;
  left: 26%;
  margin-top: 35%;
  position: relative;
  width: 100px;
}

.power-button {
  background-color: $brand-primary;
  border-radius: 4px;
  height: 50px;
  left: 98%;
  position: relative;
  top: 15%;
  width: 8px;
}

.spin-button {
  background-color: $brand-primary;
  border-radius: 40px;
  height: 30px;
  left: 97%;
  position: relative;
  top: -3%;
  width: 15px;
}

h1.future-of-wearables {
  color: black;
  font-family: "Neue Haas Unica W1G", sans-serif;
  font-size: $h1-font-size * 1.5;
  font-weight: 900;
  line-height: $h6-font-size;
  margin-left: 10%;
  margin-top: 50%;
  position: relative;
  z-index: 1;

  @include media($nine-col) {
    font-size: $h1-font-size * 2.5;
    margin-left: 4%;
    margin-top: 12%;
  }
}

blockquote.future-of-wearables {
  color: $brand-primary;
  font-family: 'Didot 96 A', 'Didot 96 B', serif;
  font-size: $blockquote-size;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 1% 15%;

  @include media($nine-col) {
    font-size: $blockquote-size * 2;
  }
}