// Index.html

.sheets {
  clear: both;
  display: table;
  margin-top: 15%;
  width: 100%;

  @include media($nine-col) {
    margin-top: 0;
  }
}

.sheets-image {
  display: none;
  float: left;
  width: 90%;

  @include media($nine-col) {
    display: block;
  }
}

.sheets-quote {
  display: none;
  margin: 0;
  text-indent: -0.5em;
  vertical-align: middle;
  width: 35%;
  padding: 10%;
  
  @include media($nine-col) {
    display: table-cell;
    padding: 0 15% 0 0;
  }
}

.sheets-quote-attribution {
  text-align: right;
}

.cluster {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);

  float: right;
  margin: 0;
  width: 100%;

  @include media($nine-col) {
    @include flex-wrap(nowrap);
    @include justify-content(flex-end);

    margin: 10% 0 5% 0;
    width: 95%;
  }
}

.images, .my-face, .description, .corridor {
  img {
    max-width:100%;
  }
}

.images {
  @include flex(1 4 10em);
  @include order(3);

  display: none;

  @include media($nine-col) {
    @include flex(2 1 30em);
    @include order(1);

    display: block;
  }

  img {
    display: none;

    @include media($nine-col) {
      display: block;
      
      &:first-of-type {
        margin: auto;
        width: 80%;
      }

      &:nth-of-type(2) {
        display: block;
        float: left;
        width: 50%;
      }

      &:nth-of-type(3) {
        display: block;
        float: left;
        width: 50%;
      }
    }
  }
}

.my-face {
  @include flex(0 2 15em);
  @include order(1);

  @include media($nine-col) {
    @include order(3);

    margin-top: 5%;
  }

  img {
    display: block;
    margin: auto;
    
    @include media($nine-col) {
      margin: 0;
      float: right;
    }
  }
}

.description {
  @include flex(1 1 30em);
  @include order(2);

  padding: 10% 12.5%;
  margin-top: -2%;

  @include media($nine-col) {
    padding: 0 5% 10% 5%;
    margin-top: -1.5%;
  }
}

.corridor {
  display: block;
  margin: 30% auto;
  width: 70%;

  @include media($nine-col) {
    margin: 10% auto;
  }

  img {
    width: 100%;
  }
}