// The writing page

.the-generalist {
  @include align-items(center);
  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(flex-start);

  margin: 5em auto;
  max-width: 805px;
  width: 100%;

  .title {
    @include flex(0 1 100%);

    cursor: pointer;
    position: relative;

    @include media($nine-col) {
      @include flex(0 1 50%);

      margin-left: 5%;
    }

    em {
      display: inline-block;
      text-align: center;
      width: 100%;

      @include media($nine-col) {
        text-align: left;
      }
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: black;
    font-family: 'Didot 96 A', 'Didot 96 B', serif;
    font-size: $h1-font-size * 1.1;
    font-style: italic;
    font-weight: $light-weight;
    line-height: $base-line-height / 1.5;
    margin: 0;
    margin-top: 0.25em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;

    @include media($nine-col) {
      font-size: $h1-font-size * 2.2;
      margin-top: 0;
      text-align: left;
    }
  }

  em {
    color: $brand-black;
    margin: auto;

    @include media($nine-col) {
      margin-left: -0.5em;
    }
  }

  img {
    float: left;
    @include flex(0 1 100%);

    @include media($nine-col) {
      @include flex(0 1 45%);
    }
  }
}

.the-future {
  @include align-self(center);
  @include flex(0 1 100%);

  color: black;
  clear: both;
  cursor: pointer;
  margin-top: 45%;
  position: relative;

  @include media($nine-col) {
    @include flex(0 1 50%);

    margin-top: 15%;
  }

  &:before {
    background-color: $brand-primary;
    content: '';
    display: block;
    height: 200px;
    width: 200px;

    @include media($nine-col) {
      height: 150px;
      width: 150px;
    }
  }

  h1 {
    font-family: 'Neue Haas Unica W1G', sans-serif;
    font-size: $h1-font-size;
    font-style: normal;
    font-weight: $extra-bold-weight;
    line-height: $base-line-height;
    margin-left: 25px;
    margin-top: -25%;
    position: relative;
    text-align: center;
    text-transform: capitalize;

    @include media($nine-col) {
      margin-left: 50px;
      margin-top: -32%;
      text-align: left;
    }
  }

  em {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;

    @include media($nine-col) {
      margin-left: 120px;
      text-align: left;
      top: -71px;
    }
  }
}

.designing-for-the-mind {
  @include align-self(center);
  @include flex(0 1 100%);

  color: black;
  clear: both;
  cursor: pointer;
  margin-top: 45%;
  padding-bottom: 20%;

  @include media($nine-col) {
    @include flex(0 1 50%);

    margin-top: 10%;
    padding-bottom: 0;
  }

  .title {
    background-color: white;
    position: relative;

    em {
      text-align: center;
    }
  }

  h1 {
    font-family: 'Knockout', sans-serif;
    font-size: $h1-font-size * 1.5;
    font-style: normal;
    font-weight: $bold-weight;
    letter-spacing: 1px;
    position: relative;
    text-align: center;

    @include media($nine-col) {
      margin-top: -30%;
    }
  }

  em {
    display: block;
    margin: -3% auto;
    text-align: center;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid $brand-primary;
    height: 100px;
    position: relative;
    width: 100px;

    &:first-of-type {
      margin: auto;
    }

    &:nth-of-type(2) {
      margin-top: -32%;
      margin-left: 50%;
    }

    &:nth-of-type(3) {
      margin-top: -28%;
      margin-left: 25%;
    }

    &:nth-of-type(4) {
      margin-top: -12%;
      margin-left: 30%;
    }

    &:nth-of-type(5) {
      margin-top: -10%;
      margin-left: 40%;
    }
  }
}

.additional-articles {
  @include flex(1 0 100%);

  margin-bottom: 10%;

  &:before {
    border-bottom: $brand-primary 2px solid;
    border-top: $brand-primary 1px solid;
    content: '';
    display: block;
    height: 7px;
    margin: auto;
    width: 150px;
  }

  ul {
    float: right;
    width: 80%;
  }

  li {
    border-bottom: $brand-primary 1px solid;
    color: $brand-gray-light;
    font-family: 'Neue Haas Unica W1G', sans-serif;
    font-size: $h2-font-size;
    list-style-type: none;
    margin-bottom: 3%;
    padding-bottom: 3%;

    &:first-of-type {
      padding-top: 10%;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}