<%= render template: "layouts/application" %>

<header class='header'>
  <img src="images/blank.gif" class="lazy" data-src="/images/full-size.jpg" width="100%" height="400px">
  <div class='container'>
    <h1 class='conference-title'>try! Swift</h1>
  </div>
</header>