[type='text'],
[type='email'] {
  display: inline-block;
  font-family: 'Neue Haas Unica W1G', sans-serif;
  font-weight: $extra-bold-weight;
  margin: 2% auto;
  padding: 2%;
  width: 50%;

  & + .mce_inline_error {
    border: 1px solid #6B0505;
    display: block;
    font-family: 'Neue Haas Unica W1G', sans-serif;
    font-weight: $extra-bold-weight;
    margin: 2% auto;
    padding: 2%;
    width: 50%;
  }
}