.section-header {
  @include flex(0 1 100%); // sections are flexbox
  @include linear-gradient($brand-primary, white);

  color: white;
  font-family: $sans-serif-display;
  height: 150px;
  text-align: center;
  text-transform: uppercase;

  h1 {
    @include flex(0 1 100%);
    @include align-self(center);
  }
}