// Various navs (main + letters)

.navigation {
  @include align-items(center);
  @include display(flex);

  background-color: white;
  border-bottom: 1px solid $brand-primary;
  box-shadow: 0px 2px 4px 1px rgba(151, 151, 151, 0.15);
  position: fixed;
  width: 100%;
  z-index: 1;

  ol {
    @include flex(0 1 80%);

    padding: 10px 10px;
    padding-left: 50px;

    li {
      float: left;
      list-style-type: none;
      padding: 0 15px;
    }
  }

  a {
    color: $brand-gray;
    font-family: $sans-serif-display;
    font-weight: 900;
    text-transform: uppercase;

    &:hover, &:active {
      @include transition(all 0.3s ease);

      color: $brand-gray-dark;
      outline: 0;
    }

    &.active {
      color: $brand-black;
    }
  }

  .purchase-ticket {
    @include flex(0 1 20%);
    @include transition(all 0.3s ease);
    @include justify-content(center);
    @include align-self(stretch);

    background-color: $brand-primary;

    &:hover, &:active {
      background-color: tomato;
      cursor: pointer;
    }

    a {
      @include display(flex);
      @include justify-content(center);

      color: white;
      padding: 22px 40px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}