// Various navs (main + letters)

.navigation {
  @include align-items(center);
  @include display(flex);
  @include transition(all 0.3s ease);

  border-bottom: 1px solid rgba(151, 151, 151, 53); // $brand-gray-dark
  width: 100%;

  ol {
    li {
      font-family: $sans-serif-display;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      float: left;
      list-style-type: none;
      padding: 10px 15px;
    }
  }

  a {
    color: $brand-gray;

    &.active {
      color: $brand-black;
    }
  }
}