.profile-image {
  background-color: $brand-white;
  border-radius: 50%;
  border: 1px solid $brand-primary;
  height: 117px;
  padding: 20px;
  position: relative;
  width: 117px;
  z-index: $zindex-2;
}