.header {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(flex-end);
  @include transition(all 0.5s ease);

  background-color: #B1410E; 
  height: 650px;
  width: 100%;
  
  @include media($nine-col) {
    background: image-url("twitter_banner.png") no-repeat left center fixed;
    background-color: $brand-dark-background;
    height: 600px;
  }

  .conference-callout {
    @include flex(0 1 90%);
    @include align-self(center);

    padding-right: 10%;
    padding-top: 18%;
    text-align: center;

    @include media($nine-col) {
      @include flex(0 1 35%);

      padding-right: 5%;
      padding-top: 0;
    }
  }

  .conference-title {
    @include flex(0 1 100%);

    color: white;
    font-family: $sans-serif-display;
  }

  .conference-description {
    @include flex(0 1 100%);

    color: $brand-gray;
  }
}