.coc, .schedule, .speakers, .buy-ticket, .date-location {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  margin-top: 5%;
  margin-bottom: 15%;

  .container {
    margin: auto;
    padding-top: 3%;
    width: 60%;
  }
}

.speakers {
  margin-top: 0;
}

.buy-ticket, .date-location, .speakers {
  .container {
    width: 90%;

    @include media($nine-col) {
      width: 70%;
    }
  }
}