// Global styles.

html {
  @include font-feature-settings('liga');

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $brand-black;
  font-family: $sans-serif;
  font-size: $base-font-size;
  font-weight: $normal-weight;
  line-height: $base-line-height;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container { // global container for app
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);

  clear: both;
  margin: auto;
  text-align: justify;
  width: 80%;
}

.upside-down {
  @include transform(rotate(190deg));

  display: inline-block;
}

img {
  width: 100%;
}

.realm-logo {
  margin: auto;
  width: 75%;

  @include media($nine-col) {
    width: 40%;
  }
}

.cyberagent-logo {
  margin: auto;
  width: 65%;

  @include media($nine-col) {
    width: 35%;
  }
}

.twitter-logo {
  width: 65%;

  @include media($nine-col) {
    margin-right: 5%;
    width: 30%;
  }
}

.gold-logo {
  margin: auto;
  width: 35%;

  @include media($nine-col) {
    width: 25%;
  }
}