// Variables

// Note: Variables for grid/breakpoints are stored in _grid_settings.scss.
// Note: Variables for typography are stored in _typography.scss.

// Colors
$brand-primary:               #FC983B;

// Black --- White
$brand-black:                 #59595A;
$brand-gray-dark:             #979797;
$brand-gray:                  #E8E4E4;
$brand-gray-light:            #D4D3D3;
$brand-gray-accent:           #D8D8D8;
$brand-white:                 #ffffff;
$brand-dark-background:       #282B35;

$winsome-bg:                  #2a2a39;

$test:                        tomato; // only for testing. e.g., throw on a bg

// Z-Indices 
$zindex-1:                    1;
$zindex-2:                    2;
$zindex-3:                    3;
$zindex-4:                    4;
$zindex-5:                    5;
$zindex-6:                    6;

// Border-radius
$border-radius-ex-small:      3px;
$border-radius-small:         5px;
$border-radius-medium:       12px;
$border-radius-large:        20px;
$border-radius-ex-large:     40px;

// Paddings
$padding-ex-small:            2px;
$padding-small:               5px;
$padding-medium:             12px;
$padding-large:              20px;
$padding-ex-large:           25px;

// Paddings (horizontal)
$hor-padding-ex-small:        0 2px;
$hor-padding-small:           0 5px;
$hor-padding-medium:          0 12px;
$hor-padding-large:           0 20px;
$hor-padding-ex-large:        0 40px;

// Paddings (vertical)
$ver-padding-ex-small:        2px 0;
$ver-padding-small:           5px 0;
$ver-padding-medium:         12px 0;
$ver-padding-large:          20px 0;
$ver-padding-ex-large:       40px 0;

// Margins
$margin-ex-small:             2px;
$margin-small:                5px;
$margin-medium:              12px;
$margin-large:               20px;
$margin-ex-large:            40px;

// Paddings (horizontal)
$hor-margin-ex-small:         0 2px;
$hor-margin-small:            0 5px;
$hor-margin-medium:           0 12px;
$hor-margin-large:            0 20px;
$hor-margin-ex-large:         0 40px;

// Paddings (vertical)
$ver-margin-ex-small:         2px 0;
$ver-margin-small:            5px 0;
$ver-margin-medium:          12px 0;
$ver-margin-large:           20px 0;
$ver-margin-ex-large:        40px 0;




// Sizes
$body-font-size: 2.5rem;
$post-font-size: $body-font-size / 2.3;

//== Animation Values
$base-delay: 0.2s;
$base-duration: 0.2s;
$base-property: opacity;
$default-transition-function: false;
$fade-in: fadein;

//== Breakpoints
$iphone4: "only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)";
$smartphones--portrait-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";
$smartphones--landscape: "only screen and (min-device-width : 321px)";
$smartphones--portrait: "only screen and (max-width : 320px)";
$ipads--potrait-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$ipads--landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$ipads--portrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
$laptop: "only screen and (min-width : 1224px)";
$desktop: "only screen and (min-width : 1824px)";

// Old, refactor
$large-breakpoint: "(max-width: 960px)";
$medium-breakpoint: "(max-width: 550px)";