!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title try! Swift
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
  %body
    %nav.navigation
      %ol
        %li
          %a.js-home{:href => "#top"} ホーム
        %li
          %a.js-speakers{:href => "#speakers"} 講演者
        / <li><a href='#schedule'>Schedule</a></li>
        %li
          %a.js-coc{:href => "#coc"} 行動規範
        %li
          %a.js-tickets{:href => "#tickets"} チケット
        %li
          %a.js-location{:href => "#location"} 会場
        %li
          %a.js-sponsors{:href => "#sponsors"} スポンサー
        %li
          %a.js-organizers{:href => "#organizers"} 主催者
        %li
          %a.js-contact{:href => "#contact"} お問い合わせ
        %li
          %a{:href => "/en"} English
      .purchase-ticket
        %a#purchase-ticket{:href => "#tickets"} チケットの購入
    #top
    = yield
    :javascript
      var windowscrolllocation;
      
      $(window).scroll(function(){
        var windowscrolllocation = $(this).scrollTop();
        $('.putmehere').html(windowscrolllocation);
      
          var home = document.getElementById('top');
          if (isScrolledIntoView(home))
          {
              removeActiveFromAll()
              $('.js-home').addClass('active');
          } else {
              $('.js-home').removeClass('active');
          }
      
          var speakers = document.getElementById("speakers");
          if (isScrolledIntoView(speakers))
          {
              removeActiveFromAll()
              $('.js-speakers').addClass('active');
          } else {
              $('.js-speakers').removeClass('active');
          }
      
          var coc = document.getElementById('coc');
          if (isScrolledIntoView(coc))
          {
              removeActiveFromAll()
              $('.js-coc').addClass('active');
          } else {
              $('.js-coc').removeClass('active');
          }
      
          var tickets = document.getElementById('tickets');
          if (isScrolledIntoView(tickets))
          {
              removeActiveFromAll()
              $('.js-tickets').addClass('active');
          } else {
              $('.js-tickets').removeClass('active');
          }
      
          var location = document.getElementById('location');
          if (isScrolledIntoView(location))
          {
              removeActiveFromAll()
              $('.js-location').addClass('active');
          } else {
              $('.js-location').removeClass('active');
          }
      
          var sponsors = document.getElementById('sponsors');
          if (isScrolledIntoView(sponsors))
          {
              removeActiveFromAll()
              $('.js-sponsors').addClass('active');
          } else {
              $('.js-sponsors').removeClass('active');
          }
      
          var organizers = document.getElementById('organizers');
          if (isScrolledIntoView(organizers))
          {
              removeActiveFromAll()
              $('.js-organizers').addClass('active');
          } else {
              $('.js-organizers').removeClass('active');
          }
      
          var contact = document.getElementById('contact');
          if (isScrolledIntoView(contact))
          {
              removeActiveFromAll()
              $('.js-contact').addClass('active');
          } else {
              $('.js-contact').removeClass('active');
          }
      
          function isScrolledIntoView(elem) {
              var docViewTop = $(window).scrollTop();
              var docViewBottom = docViewTop + $(window).height();
      
              var elemTop = $(elem).offset().top;
              var elemBottom = elemTop + $(elem).height();
      
              return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom));
          }
      
          function removeActiveFromAll() {
              $('.js-home').removeClass('active');
              $('.js-speakers').removeClass('active');
              $('.js-coc').removeClass('active');
              $('.js-tickets').removeClass('active');
              $('.js-location').removeClass('active');
              $('.js-sponsors').removeClass('active');
              $('.js-organizers').removeClass('active');
              $('.js-contact').removeClass('active');
          }
      
      
      });
