<!DOCTYPE html>
<html>
<head>
  <title>SwiftJP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='navigation'>
  <ol>
    <li><a href='#top' class='active'>Home</a></li>
    <li><a href='#speakers'>Speakers</a></li>
    <li><a href='#schedule'>Schedule</a></li>
    <!-- <li><a href='#sponsors'>Sponsors</a></li> -->
    <li><a href='#date-location'>Date & Location Info</a></li>
    <li><a href='#contact'>Contact</a></li>
  </ol>

  <div class='purchase-ticket'>
    <a href='' id='purchase-ticket'>Buy your ticket</a>
  </div>
</nav>

<%= yield %>

</body>
</html>
